* {
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #292929;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100vh;
  background-color: #efefef;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
}

li {
  border-top: 1px solid grey;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  padding: 5px;
}

strong {
  font-weight: 600;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
