* {
  box-sizing: border-box;
}

body {
  background-color: #10202efc;
  min-height: 100%;
  color: white;
  overflow: auto;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  width: 50%;
}

a {
  text-decoration: none;
  color: #188266;
}

a:hover {
  color: grey;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    width: 70vw;
  }
}
