* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  height: 100%;
}

body {
  background-color: #10202efc;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  margin: 20px;
}
.topbar {
  margin-bottom: 10px;
  font-weight: bold;
}
.arrow {
  font-size: 25px;
}

/* .content {
  width: 60vw;
} */
a {
  text-decoration: none;
  color: #188266;
}

a:hover {
  color: grey;
}

.main-links::before {
  content: "- ";
  color: white;
}
.list {
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}
.code {
  margin-bottom: 8px;
  margin-left: 20px;
}
@media (min-width: 320px) {
  .content {
    width: auto;
  }
}
@media (min-width: 1025px) {
  .content {
    width: 60vw;
  }
}
