* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid blue; */
}

html {
  height: 100%;
}

body {
  background-color: #10202efc;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  min-height: 100vh;
  display: flex;
}

.project-title {
  font-weight: bold;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  height: 40px;
  /* outline: 1px solid grey; */
}

.content {
  width: 50vw;
  margin: auto;
}

a {
  text-decoration: none;
  color: #188266;
}

a:hover {
  color: grey;
}

.links {
  margin-top: 50px;
}
.list {
  margin-bottom: 20px;
  /* outline: 1px solid red; */
}

.main-links::before {
  content: "- ";
  color: white;
}
.footer {
  height: 40px;
  border-top: 1px solid white;
  margin-top: 50px;
  display: flex;
  /* outline: 1px solid grey; */
  justify-content: space-between;
}
.footer-links {
  margin-top: 10px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    min-height: 100vh;
    font-size: 20px;
    font-family: "Space Mono", monospace;
    margin-top: 10px;
  }

  .content {
    width: 90vw;
    margin-top: 40px;
  }

  .footer {
    margin-bottom: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-device-width: 600px) {
  body {
    min-height: 100vh;
    font-size: 20px;
    font-family: "Space Mono", monospace;
  }

  .content {
    width: 90vw;
  }
  p {
    line-height: 1.75rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    font-size: 17px;
    font-family: "Space Mono", monospace;
  }

  .content {
    width: 40vw;
  }
  p {
    line-height: 2rem;
  }
}
