* {
  box-sizing: border-box;
  /* outline: 1px solid blue; */
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #10202efc;
  color: white;
  font-family: "Courier New", Courier, monospace;
  display: flex;

  /*
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

p {
  line-height: 1.3em;
  width: 400px;
  border-top: 1px solid #fff;
  padding-top: 15px;
}

.content {
  width: 370px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #188266;
}

a:hover {
  color: grey;
}

@media only screen and (max-device-width: 480px) {
  body {
    /* height: 100vh; */
  }
  p {
    width: 337px;
  }
  .content {
    width: 90vw;
  }
}
