* {
  box-sizing: border-box;
}

body {
  background-color: #10202efc;
  min-height: 100%;
  color: white;
  overflow: auto;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  width: 50%;
}

a {
  text-decoration: none;
  color: #188266;
}

a:hover {
  color: grey;
}

.nav-info {
  font-size: 15px;
}

p {
  line-height: 1.3em;
  width: 325px; 
  padding-bottom: 10px;
  padding-top: 15px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.photo {
  width: 175px;
}

.image-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    width: 70vw;
  }
  p {
    line-height: 1.2em;
  }

  .footer {
    width: 75vw;
}
}
