* {
  box-sizing: border-box;
}

body {
  background-color: #10202efc;
  min-height: 100%;
  color: white;
  overflow: auto;
  /* padding: 0 10px; */
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #00ffba6b;
}

a:hover {
  color: grey;
}

.top-bar {
  width: 325px;
  padding-top: 10px;
}

.nav-info {
  font-size: 15px;
}

p {
  line-height: 1.3em;
  width: 325px;
}

.photo {
  width: 175px;
}

.image-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
  }
  p {
    line-height: 1.2em;
  }
}
