* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: darkorange;
}

.main {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  /* max-width: 100%; */
  /* background-color: white; */
}

.essay {
  text-align: center;
  line-height: 1.5;
  margin: 0;
}



a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(172, 115, 45);
}

.social_links {
  /* background-color: green; */
  text-align: center;
}

/* comment out background-colour for debugging */
