body {
  background-color: #e5b1ff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* this is me trying to figure out how to center a div */

.text {
  /* position: absolute;
  top: 30%;
  left: 20%; */
}

/* i am sorry  */

h1 {
  font-weight: normal;
  font-size: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(211, 168, 116);
}
