* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #10202efc;
  color: white;
  overflow: auto;
  padding: 0 10px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #00ffba6b;
}

a:hover {
  color: grey;
}

.top-bar {
  width: 325px;
  padding-top: 10px;
}
.date {
  padding-left: 10px;
}
p {
  line-height: 1.3em;
  width: 325px;
}

.photo {
  width: 150px;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
  }
  p {
    line-height: 1.2em;
  }
}
